:root {
  --font-family-default: "Noto Sans Display", Inter, Roboto, "Helvetica Neue",
    "Arial Nova", "Nimbus Sans", Arial, sans-serif;
  --font-family-heading: "Fraunces", Didot, "Bodoni MT", "Noto Serif Display",
    "URW Palladio L", P052, Sylfaen, serif;
  --font-family-monospace: "Nimbus Mono PS", "Courier New", monospace;
  --color-text: #fff0f4;
  --color-primary: oklch(74% 0.15 32);
  --color-secondary: oklch(65% 0.13 210);
  --color-yellow: oklch(80% 0.16 85);
  --color-green: oklch(60% 0.16 135);
  --color-red: oklch(65% 0.18 15);
  --color-green-2: oklch(54% 0.11 164);
  --color-purple: oklch(62% 0.15 318);
  --color-red-2: oklch(57% 0.2 15);
}

* {
  user-select: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a,
ul {
  text-decoration: none;
  list-style: none;
}

body {
  width: 100%;
  height: 100%;
  background-color: black;
}
